* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    height: 150px;
    margin-bottom: 2rem;
}

.header_title {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin-left: 2rem;
}

.header_title::after {
    content: 'Games'; 
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: red;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 1rem;
}

.menu li a {
    text-decoration: none;
    color: white;
    border: 0.25rem;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 30px;
    display: block;
    transition: 0.5s;
}

.menu a:hover, a.active{
    background: white;
    color: black;
    transition: 0.5s;
}

.main {
    margin: 0.25rem 5rem 0.5rem 5rem;
    padding: 0.5rem;
    width: auto;
}

.start {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
}

.start::before {
    Content: "Card games ";
    color: red;
    text-indent: 2rem;
    font-size: 30px;
    font-weight: bold;
}

.layout_grid {
    /*Used to reresent the grid display*/
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
}

.layout_flex {
    /*Used to reresent the flex display*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;;
    justify-content: space-evenly;
}

.video {
    margin: 1rem;
}

.video iframe {
    width: 560px;
    height: 350px;
}

.text_shuffle {
    height: 354px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-size: 20px;
}

.main_title {
    font-size: 23px;
    padding: 1em 0 2rem 0;
    font-style: italic;
    font-weight: bold;
}

.card {
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(-35deg);
    animation: slideIn 15s forwards infinite;
    z-index: -1;
}

.deck {
    margin-left: 2rem;
    position: relative;
}

.cards {
    width: 250px;
    height: 350px;
    margin: 0;
    z-index: 1;
}

.queen {
    height: 300px;
}

.description_card_games {
    text-align: left;
    font-size: 25px;
    margin: 0.5rem 4rem 0.5rem 0; 
    padding: 0.5rem 4rem 0.5rem 0;
    transition: 0.5s;
}

.description_shop {
    text-align: left;
    font-size: 25px;
    margin: 0rem 1rem 0.5rem 0; 
    transition: 0.5s;
}

.description_shop p {
    text-indent: 1.5rem;
    padding-bottom: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 1.8rem;
    background: black;
}

.dropdown{
    position: relative;
    display: none;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    border: 0.25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    width: 103px;
    height: 50px;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    z-index: 1;
    border: 3px solid black;
    background-color: white;
    border-radius: 1rem;
}

.dropdown-content a{
    list-style: none;
    text-decoration: none;
    display: flex;
    color: black;
    padding: 5px;
    width: 103px;
    height: 50px;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover, a.active{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.main h1 {
    text-align: center;
    font-size: 40px;
    margin: 0.2rem 0.5rem 1.5rem;
}

.main ul {
    list-style-type: disc;
    font-size: 18px;
}

.main ul li {
    padding-top: 1.5rem;
    margin: 0 0.5rem 0rem 3rem;
}

.main li:nth-child(odd) {
    color: darkred;
    font-style: normal;
}

.main li:nth-child(even) {
    color: black;
    font-style: italic;
}

.end {
    margin: 1rem 0.2rem 1rem 0.5rem;
    font-size: 20px;
    font-weight: bold;
    text-indent: 1rem;
}

.shop {
    margin: 0 1rem;
    border: 3px solid black;
    border-radius: 5px;
}

.shop iframe {
    width: 450px;
    height: 400px;
}

@media(max-width: 1030px) {
    .main h1 {
        font-size: 35px;
    }

    .shop iframe {
        width: 350px;
        height: 400px;
    }
}

@media screen and (max-width: 938px) {
    .main_shuffle {
        margin: 0.25rem 2.5rem 0.5rem 2.5rem;
    }
}

@media(max-width: 897px) {

    .header {
        margin-bottom: 0.3rem;
    }

    .header_title {
        font-size: 30px;
    }

    .header li a {
        font-size: 17px;
    }

    .main {
        margin: 0;
        text-align: center;
        padding: 0.5rem;
    }

    .main h1{
        font-size: 25px;
        margin: 0.2rem;
    }

    .start {
        text-align: left;
        padding: 0.5rem;
        font-size: 15px;
    }

    .start::before{
        font-size: 20px;
    }

    .layout_grid{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: left;
        grid-template-columns: 2fr 1fr; 
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .description_card_games {
        font-size: 15px;
        margin: 0; 
        padding: 0.5rem;
    }

    .description_shop {
        font-size: 15px;
        overflow: hidden;;
        margin: 0; 
    }

    .description_shop p {
        padding-bottom: 0.5rem;
    }

    .deck {
        margin: 2rem 0 0 0;
        padding: 0;
        width: 250px;
        position: relative;
    }

    .footer {
        margin: 0;
    }

    .shop {
        margin: 0.5rem 0;
    }

    .shop iframe{
        width: 300px;
        height: 250px;
    }

    .layout_flex{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0.2rem;
    }

    .text_shuffle {
        justify-content: flex-start;
    }

    .text_shuffle {
        height: auto;
    }

    .main_title {
        font-size: 33px;
        padding: 0.5rem 0 1rem 0;
    }
}

@media (max-width: 553px) {
    .main_shuffle{
        margin: 0;
    }

    .video iframe{
        width: 310px;
        height: 190px;
    }

    .end {
        font-size: 16px;
        margin: 0.5rem 0;
        text-align: left;
    }

}

@media (max-width: 540px) {

    .menu ul {
        display: none;
    }

    .main ul li {
        text-align: left;
        padding-top: 0.5rem;
        margin: 0;
    }

    .dropdown {
        display: inline-block
    }
}

@keyframes slideIn {
    0% {
        left: 0px;
        transform: rotate(0);
    }
    50% {
        left: -75px;
        transform: rotate(-35deg);
    }
    100%
    {
        left: 0;
        transform: rotate(0);
    }
}
